@model Locadora_Filmes_e_Jogos.Models.Jogos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jogos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_jogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_jogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classificacao_jogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classificacao_jogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ano_lancamento_jogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ano_lancamento_jogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ativo_jogos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ativo_jogos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.pk_jogo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
