@model IEnumerable<Locadora_Filmes_e_Jogos.Models.Jogos>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-flex m-3">Jogos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo jogo</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_jogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classificacao_jogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ano_lancamento_jogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ativo_jogos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_jogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classificacao_jogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano_lancamento_jogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ativo_jogos)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.pk_jogo">Editar</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.pk_jogo">Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.pk_jogo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
