@model Locadora_Filmes_e_Jogos.Models.LocacaoViewModel
@{
    ViewData["Title"] = "Locação";
}

<h1 class="d-flex m-3">Locação</h1>

@if (TempData["AlertMessage"] != null)
{
    <div id="alert-div" class="alert alert-danger" role="alert" style="display: none;">
        @TempData["AlertMessage"]
   </div> 
}

<div class="container-fluid m-3">
    <div class="row">
        <div class="col">
        <label>Funcionario</label>
            <select class="form-control w-50 p-3" name="FuncionarioID">
            <option value="">Selecione um Funcionario</option>
                @foreach(var funcionario in Model.Funcionarios)
                {
                    <option value="@funcionario.pk_funcionario">@funcionario.nome_funcionario</option>
                }
        </select>

        </div>
        <div class="col">
        <label>Cliente</label>
            <select class="form-control w-50 p-3" name="ClienteID">
                <option value="">Selecione o Cliente</option>
                @foreach (var cliente in Model.Clientes)
                {
                    <option value="@cliente.pk_cliente">@cliente.nome_cliente</option>    
                }
            </select>
        </div>
    </div>
</div>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Filmes.First().pk_filmes)</th>
            <th>@Html.DisplayNameFor(model => model.Filmes.First().nome_filme)</th>
            <th>@Html.DisplayNameFor(model => model.Filmes.First().classificacao_filme)</th>
            <th>@Html.DisplayNameFor(model => model.Filmes.First().ano_lancamento_filmes)</th>
            <th>@Html.DisplayNameFor(model => model.Filmes.First().nota_filme)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Filmes)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.pk_filmes)</td>
            <td>@Html.DisplayFor(modelItem => item.nome_filme)</td>
            <td>@Html.DisplayFor(modelItem => item.classificacao_filme)</td>
            <td>@Html.DisplayFor(modelItem => item.ano_lancamento_filmes)</td>
            <td>@Html.DisplayFor(modelItem => item.nota_filme)</td>
            <td>
                <form asp-action="Alugar" method="post">
                    <input type="hidden" name="indexFilme" value="@item.pk_filmes" />
                        <button class="btn btn-primary" type="submit">Alugar</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Jogos.First().pk_jogo)</th>
            <th>@Html.DisplayNameFor(model => model.Jogos.First().nome_jogo)</th>
            <th>@Html.DisplayNameFor(model => model.Jogos.First().classificacao_jogo)</th>
            <th>@Html.DisplayNameFor(model => model.Jogos.First().ano_lancamento_jogo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jogos)
    {  
        <tr>
            <td>@Html.DisplayFor(modelItem => item.pk_jogo)</td>
                <td>@Html.DisplayFor(modelItem => item.nome_jogo)</td>
                <td>@Html.DisplayFor(modelItem => item.classificacao_jogo)</td>
                <td>@Html.DisplayFor(modelItem => item.ano_lancamento_jogo)</td>
                <td>
                    <form asp-action="Alugar" method="post">
                        <input type="hidden" name="indexJogo" value="@item.pk_jogo" />
                        <button class="btn btn-primary" type="submit">Alugar</button>
                    </form>
                </td>
        </tr>
    }
    </tbody>
</table>

<div class="container">
    <div class="col-12">
        <div class="row">
            <form asp-action="FinalizarLocacao" method="post">
                <input type="hidden" name="Alugar" value="" />
                <button class="btn btn-success mt-1" type="submit">Finalizar Locação</button>
            </form>
            <form asp-action="CancelarLocacao" method="post">
                <input type="hidden" name="Cancelar" value="" />
                <button class="btn btn-danger mt-1" type="submit">Cancelar Locação</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var alertDiv = $("#alert-div");
        if (alertDiv.text().trim().length > 0) 
        { 
            alertDiv.show(); 
        } });
</script>
