@model IEnumerable<Locadora_Filmes_e_Jogos.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-flex m-3">Funcionários</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo colaborador</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_funcionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpf_funcionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ano_nascimento_funcionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sexo_funcionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcao_funcionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ativo_funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_funcionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf_funcionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano_nascimento_funcionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexo_funcionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.funcao_funcionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ativo_funcionario)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.pk_funcionario">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.pk_funcionario">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.pk_funcionario">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
