@model Locadora_Filmes_e_Jogos.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpf_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpf_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ano_nascimento_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ano_nascimento_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sexo_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sexo_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ativo_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ativo_cliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.pk_cliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
