@model IEnumerable<Locadora_Filmes_e_Jogos.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-flex m-3">Clientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo cliente</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpf_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ano_nascimento_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sexo_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ativo_cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano_nascimento_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexo_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ativo_cliente)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.pk_cliente">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.pk_cliente">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.pk_cliente">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
